.div2{
    width: auto;
    height: 160px;
    margin: 80px;
    background-color: whitesmoke;
    box-shadow: rgba(194, 103, 51, 0.4) -5px 5px, rgba(212, 143, 64, 0.3) -10px 10px, rgba(221, 155, 93, 0.2) -15px 15px, rgba(190, 157, 106, 0.1) -20px 20px, rgba(194, 148, 110, 0.05) -25px 25px;
}

.div1{
    background-image: url("../../public/img10.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
.con{
    width:90%;
    height: 200px;
    box-shadow: #A79277 0px 20px 30px -10px;
    margin: 50px;
    background-color: #F6F4E8;
    border-radius: 30px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Slab:wght@100..900&display=swap');
.title{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    position:absolute;
    color:white;
    font-size:50pt;
    margin-top :80px;
    margin-left: 10%;
}
.coverImg{  
    height:350px;
    width:100%;
}
