html,
body {
    font-family: "Nunito Sans", sans-serif;
    color: #333;
    font-size: 16px;
}

p {
    line-height: 1.6;
    max-width: 50em;
}

button,
input {
    font-family: Hind, sans-serif;
    font-size: 1rem;
    outline: none;
}

.wrap,
.row,
.tabRow {
    margin: 0 auto;
    max-width: 1000px;
}

.nav {
    position: fixed;
    z-index: 3;
    height: 60px;
    width: 100%;
    transition: 300ms ease;
}

.brand {
    float: left;
    line-height: 60px;
    color: white;
    font-weight: 500;
    padding-left: 1rem;
}

.brand span {
    font-size: 0.9em;
    font-weight: 700;
}

.brand img {
    vertical-align: middle;
    height: calc(60px - 1rem);
    margin-right: 0.5rem;
}

.topMenu {
    display: none;
    position: relative;
    float: right;
    transition: 200ms ease;
    font-weight: 300;
    height: 60px;
}

@media screen and (min-width: 640px) {
    .topMenu {
        display: block;
    }
}

.topMenu li {
    display: block;
    float: left;
    height: 60px;
}

.topMenu li a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #fff;
    padding: 0 1em;
}

.topMenu li a:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.mobileOpen {
    display: block;
}

.hamburgerBtn {
    float: right;
    display: block;
    border: none;
    background: transparent;
    color: #fff;
    height: calc(60px - 1rem);
    width: calc(60px - 1rem);
    margin: 0.5rem 0.5rem 0 0;
    padding: 0;
    position: relative;
}

@media screen and (min-width: 640px) {
    .hamburgerBtn {
        display: none;
    }
}

.hamburgerBtn:hover {
    background: rgba(0, 0, 0, 0.1);
}

.hamburgerBtn .hamburgerLine {
    height: 2px;
    width: calc(60px - 2rem);
    background: #fff;
    display: block;
    position: absolute;
    left: calc(0.5rem - 1px);
    transition: transform 150ms ease-in, top 150ms ease-out 150ms, bottom 150ms ease-out 150ms, opacity 150ms ease 75ms;
}

.hamburgerBtn .hamburgerLine:first-child {
    top: 0.75rem;
}

.hamburgerBtn .hamburgerLine:nth-child(2) {
    top: calc(50% - 1px);
}

.hamburgerBtn .hamburgerLine:last-child {
    bottom: 0.75rem;
}

.hamburgerCross .hamburgerLine {
    transition: transform 150ms ease-out 150ms, top 150ms ease-in, bottom 150ms ease-in, opacity 150ms ease 75ms;
}

.hamburgerCross .hamburgerLine:first-child {
    transform: rotate(45deg);
    top: calc(50% - 1px);
}

.hamburgerCross .hamburgerLine:nth-child(2) {
    top: calc(50% - 1px);
    opacity: 0;
}

.hamburgerCross .hamburgerLine:last-child {
    transform: rotate(-45deg);
    bottom: calc(50% - 1px);
}

.scroll {
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.scroll .topMenu li a,
.scroll .brand {
    color: black;
}

.scroll .hamburgerLine {
    background: #000;
}

.hero {
    position: relative;
    z-index: 1;
    height: 100vh;
    max-height: 1080px;
    background-image: url('../../public/img1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    display: table;
    width: 100%;
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(to bottom right, rgb(208, 222, 236), rgb(202, 233, 223)); */
    opacity: 0.9;
    z-index: -1;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 2em;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.hero .content {
    display: table-cell;
    vertical-align: middle;
}

h1,
h2,
p {
    margin: 1em 0;
}

h2 {
    font-size: 2rem;
    line-height: 0.5;
}

a {
    color: #e14;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.row:after,
.tabRow:after {
    content: "";
    display: table;
    clear: both;
}

.row,
.tabRow {
    display: block;
}

.tabRow {
    display: table;
    height: 100%;
    vertical-align: middle;
}

main {
    background: #f8f8f8;
}

main .row,
main .tabRow {
    min-height: 200px;
}

main .row:before,
main .row:after,
main .tabRow:before,
main .tabRow:after {
    content: "";
    display: table;
}

main section {
    padding: 0 1rem;
    min-height: 400px;
    height: 62vh;
}

.feature {
    background-image: url('../../public/img6.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
}

.feature:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(to bottom right, rgb(208, 222, 236), rgb(202, 233, 223)); */
    opacity: 0.9;
    z-index: -1;
}

.footer {
    background-image: url('../../public/img9.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    height: 280px;
}

.footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(to bottom right, rgb(208, 222, 236), rgb(202, 233, 223)); */
    opacity: 0.9;
    z-index: -1;
}

.footer li {
    line-height: 1.5;
}

.footer a {
    color: #aaa;
}

.footer hr {
    max-width: 1000px;
    border: 0;
    height: 1px;
    background: #a2aebb;
}

.col12,
.col6,
.col4 {
    width: 100%;
}

@media screen and (min-width: 640px) {

    .col12,
    .col6,
    .col4 {
        float: left;
    }
}

.tabRow>.col12,
.tabRow>.col6,
.tabRow>.col4 {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none;
}

@media screen and (min-width: 640px) {
    .col4 {
        width: 33%;
    }
}

@media screen and (min-width: 640px) {
    .col6 {
        width: 50%;
    }
}

button.cta {
    padding: 0.75em 1.5em;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: 200ms ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

button.cta:hover {
    color: #e14;
    box-shadow: 0 0.25em 10px rgba(0, 0, 0, 0.2);
}

/* /////////////////////////////////////////////////////////////////////////////////////// */


.button {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 3px 3px white, inset 0px 0px 1px 1px rgba(204, 198, 197, .5);
    float: left;
    height: 70px;
    margin: 5px 30px 30px 0;
    position: relative;
    width: 70px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    font-size: 10px;
}

.button:after {
    color: #e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}

.flower:after {
    /* content: "Login"; */
    font-size: 15px;
    left: 18px;
    top: 0px;
}

.button:hover {
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color: #0088cc;
}

.flower:hover:after {
    color: cadetblue;
    text-shadow: 0px 0px 6px cadetblue;
}

.button:active {
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4), inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
}

.button:active:after {
    color: rgb(66, 140, 143);
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}