@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Slab:wght@100..900&display=swap');
.title{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    position:absolute;
    color:white;
    font-size:90pt;
    margin-top :17%;
    margin-left:58%;
}
.coverImg{  
    height:750px;
    width:100%;
    
}
.logoImg{
    height: 90px;
    width: 90px;
    
}
.welcome,.txt{
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin: 20px;
  
}
.txt{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
    text-align: center;
}

.footer {
    background-image: url('https://res2.weblium.site/res/65a4dd651ae638000e4a167b/65c4deca427eec000fd108d7_optimized_1395_c1395x931-0x0.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    height: 650px;
    width:100%
}
.footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    z-index: -1;
}
.footer li {
    line-height: 1.5;
}
.footer a {
    color: #aaa;
}

.footer hr {
    max-width: 1000px;
    border: 0;
    height: 1px;
    background: #a2aebb;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row{
    display: block;
}
main .row{
    min-height: 200px;
}
main .row:before,
main .row:after {
    content: "";
    display: table;
}
.exp{
    background-color: lightgray;
    padding: 55px;
}
.expImg,.exp,.priceImg{
    width:90%;
    height:500px;
    margin-left:60px;
    margin-right:60px;
    margin-top: 170px;
    border-radius: 20px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #7C782F;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
   }
   
   .button .span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .button .span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .button:hover .span {
    padding-right: 15px;
   }
   
   .button:hover .span:after {
    opacity: 1;
    right: 0;
   }  
   .priceImg,.priceList{
    height: 90vh;
   }
   .priceList{
    width:90%;
    margin-left:60px;
    margin-right:60px;
    margin-top: 170px;
    border-radius: 20px;
   }

  