.ad {
    height: 60vh;
    background-image: url("//res2.weblium.site/res/5dcd5a246781f40021f8ad88/5dcd9c245241fe0022d96018?nowebp&quot;");
    background-size: cover;
    background-position:  25% 75%;
    /* opacity: 0.9; */
}

.discover {
    color: white;
    position: absolute;
    left: 10%;
    top: 12%;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the start (left) */
}

.programs {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; 
    left: 10%;
    top: 12%;
}

@media screen and (max-width: 600px) {
    .programs {
      display: grid;
      place-items: center;
    }
  }