


.InputContainer {
    margin-left: 30px;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    margin-top: 8px;
  }
  
  .input {
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent; /* Blurred background */
    border-radius: 30px;
    padding-left: 20px;
    letter-spacing: 0.8px;
    color: whitesmoke;
    font-size: 13.4px;
  }
  /* SearchButton.module.css */
.input::placeholder {
  color: white; /* Placeholder color */
}
.button {
  margin-top: 8px;
  width: 50px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #7C782F;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}
