#background{
    height: 100vh;
    background-image: url("../../../../public/contact.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
    padding: 50px;
}
#campasslabel{
    font-size: 8rem;
    color: wheat;
}
#touch{
    font-size: 3rem;
    color: white;
}
#description{
    color: white;
    font-size: 1rem;
}



@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate {
    animation: rotate 2s linear infinite; /* Change duration and timing function as needed */
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #7C782F;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
   }
   
   .button .span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .button .span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .button:hover .span {
    padding-right: 15px;
   }
   
   .button:hover .span:after {
    opacity: 1;
    right: 0;
   }  